<div class="mt-8 text-gray-500">
  <%= render 'shared/profile/item_with_description',
             title: project.title,
             subtitle: project.tech,
             description: project.description
  %>
</div>